<?xml version="1.0"?>
<robot name="skratch_wheel" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="skratch_wheel" params="name parent">

        <link name="${name}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="1.56317"/>
                <inertia ixx="0.00101253363" ixy="0.00000000000" ixz="0.00000001020" iyy="0.00157998524" iyz="-0.00000055474" izz="0.00101282739"/>
            </inertial>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/wheels/kelo_drive_wheel.stl" scale="1 1 1"/>
                </geometry>
                <material name="Black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/wheels/kelo_drive_wheel.stl" scale="1 1 1"/>
                </geometry>
            </collision>
        </link>
        <gazebo reference="${name}">
            <material>Gazebo/Black</material>
        </gazebo>
        
    </xacro:macro>
</robot>