<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">    
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find kinova_arm_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>   
    </gazebo>
    
    <gazebo reference="kinova_camera">
        <sensor type="depth" name="arm_camera">
            <pose>0.06 0.05 0 1.57 0 1.57</pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
            <horizontal_fov>1.134</horizontal_fov> 
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.18</near> 
                <far>8.0</far>
            </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <frame_name>kinova_camera_optical_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_mimic_joint_plugin.so" name="gripper_right_knuckle_joint">
            <joint>gripper_left_knuckle_joint</joint>
            <mimicJoint>gripper_right_knuckle_joint</mimicJoint>
            <multiplier>-1.0</multiplier>
        </plugin>

        <plugin filename="libgazebo_mimic_joint_plugin.so" name="gripper_left_inner_knuckle_joint">
            <joint>gripper_right_knuckle_joint</joint>
            <mimicJoint>gripper_left_inner_knuckle_joint</mimicJoint>
            <multiplier>-1.0</multiplier>
        </plugin>

        <plugin filename="libgazebo_mimic_joint_plugin.so" name="gripper_right_inner_knuckle_joint">
            <joint>gripper_right_knuckle_joint</joint>
            <mimicJoint>gripper_right_inner_knuckle_joint</mimicJoint>
        </plugin>

        <plugin filename="libgazebo_mimic_joint_plugin.so" name="gripper_left_finger_tip_joint">
            <joint>gripper_right_knuckle_joint</joint>
            <mimicJoint>gripper_left_finger_tip_joint</mimicJoint>
        </plugin>

        <plugin filename="libgazebo_mimic_joint_plugin.so" name="gripper_right_finger_tip_joint">
            <joint>gripper_right_knuckle_joint</joint>
            <mimicJoint>gripper_right_finger_tip_joint</mimicJoint>
            <multiplier>-1.0</multiplier>
        </plugin>
    </gazebo>

    <gazebo reference="gripper_left_finger_tip_link">
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <minDepth>0.001</minDepth>
    </gazebo>
    <gazebo reference="gripper_right_finger_tip_link">
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <minDepth>0.001</minDepth>
    </gazebo>


</robot>
