<?xml version="1.0"?>
<robot name="kinova_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find kinova_arm_description)/description/kinova_arm_macro.xacro"/>
    <xacro:include filename="$(find kinova_arm_gazebo)/gazebo/kinova_arm_ros2_control.xacro"/>
    <xacro:kinova_arm_ros2_control name="kinova_arm" initial_positions_file="$(find kinova_arm_gazebo)/config/initial_positions.yaml"/>

    <xacro:kinova_arm/>
    <joint name="arm_base_joint" type="fixed">
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 3.14"/>
            <parent link="arm_base_link"/>
            <child link="kinova_base"/>
    </joint>

    <link name="arm_base_link">
        <inertial>
            <mass value="50.0"/>   
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="5.0" ixy="0" ixz="0" iyy="5.0" iyz="0" izz="5.0"/>
        </inertial>
    </link>

</robot>